body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #666;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #444;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#about {
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

#this {
    font-size: larger;
}