/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #004466;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.login-section {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

button {
    padding: 0.5rem 1rem;
    background-color: #004466;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 5.3s ease;
}

button:hover {
    background-color: #003355;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #004466;
    color: #fff;
}

/* p {
    color: red;
    background-color: red;
} */